<!--Account Registration Page Copy if the email has been used already. #Magruruncutie-->
{% extends 'base.html' %}

{% block contents %}

<!-- Page Title -->
<div class="container">
<h1 style="color:Black">Beyond Velocity Membership Registration</h1>
    <div class="alert alert-danger" role="alert">
        Opssss!!<br>This email has already been used. Please use a different valid email address to register.</br>
    </div>
</div>



<!-- Email and Password field -->
<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('account_creation') }}" method="POST">
                  <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" aria-describedby="emailHelp" required>
                      <label for="email" class="form-label">Email Address</label>
                      <div id="emailHelp" class="form-text">Make sure that this email is unique.</div>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="12345" aria-describedby="passwordHelp" required>
                      <label for="password" class="form-label">Password</label>
                      <div id="passwordHelp" class="form-text">Always remember your password</div>
                  </div>
                  <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="termsagreement" required>
                      <label class="form-check-label" for="termsagreement">I want to be part of Beyond Velocity Team!</label>
                  </div>
                  <button type="submit" class="btn btn-success">Register Account</button>
            </form>
        </div>
    </div>
</div>

<br>
{% endblock %}