<!--Editing of Information-->

{% extends 'base.html' %}

{% block contents %}

<div class="container">
    <h1 class="text-center" style="color:Black">Beyond Velocity PH Application Form</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('update', email=account.email) }}" method="post" class="row g-3">
                <h2 class="card-title">Personal Data</h2>

                <div class="col-md-6">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" name="firstname" id="firstname" value="{{ account.firstname }}" required>
                </div>
                <div class="col-md-6">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" value="{{ account.lastname }}" required>
                </div>

                <div class="col-md-3">
                    <label for="sex" class="form-label">Sex assigned at birth</label>
                    <select id="sex" name="sex" class="form-select" aria-label="gender" required>
                        <option selected>{{ account.sex }}</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="col-md-3">
                <label for="marital" class="form-label">Marital Status</label>
                <select id="marital" name="marital" class="form-select" required>
                    <option selected>{{ account.civil }}</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Separated">Separated</option>
                </select>
              </div>

                <div class="col-md-2">
                    <label for="birthdate" class="form-label">Date of Birth</label>
                    <input id="birthdate" name="birthdate" type="text" class="form-control" value="{{ account.birthdate }}" required>
                </div>
                <div class="col-md-2">
                    <label for="age" class="form-label">Age</label>
                    <input id="age" name="age" type="text" class="form-control" value="{{ account.age }}" required>
                </div>
                <div class="col-md-4">
                    <label for="birthplace" class="form-label">Place of Birth</label>
                    <input id="birthplace" name="birthplace" type="text" class="form-control" value="{{ account.birthplace }}" required>
                </div>

                <div class="col-md-3">
                    <label for="citizen" class="form-label">Country of Citizenship</label>
                    <input id="citizen" name="citizen" type="text" class="form-control" value="{{ account.citizenship }}" required>
                </div>

                <div class="col-md-3">
                    <label for="religion" class="form-label">Religion</label>
                    <input id="religion" name="religion" type="text" class="form-control" value="{{ account.religion }}" required>
                </div>

                <div class="col-md-3"?>
                    <label for="mobilephone" class="form-label">Mobile Number</label>
                    <input id="mobilephone" name="mobilephone" type="number" class="form-control" value="{{ account.mobile }}" required>
                </div>


                <div class="col-12">
                <label for="street1" class="form-label">Street Address</label>
                <input id="street1" name="street1" type="text" class="form-control" value="{{ account.street1 }}" required>
              </div>
                <div class="col-12">
                <label for="street2" class="form-label">Street Address 2</label>
                <input id="street2" name="street2" type="text" class="form-control"  value="{{ account.street2 }}" required>
              </div>
                <div class="col-md-3">
                <label for="city" class="form-label">City</label>
                <input id="city" name="city" type="text" class="form-control" value="{{ account.city }}" required>
              </div>
                <div class="col-md-3">
                <label for="state" class="form-label">State/Province</label>
                <input id="state" name="state" type="text" class="form-control" value="{{ account.state }}" required>
              </div>
                <div class="col-md-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" name="country" type="text" class="form-control" value="{{ account.country }}" required>
              </div>
                <div class="col-md-12">
                    <label for="imageurl" class="form-label">Image</label>
                    <input id="imageurl" name="imageurl" type="url" class="form-control" value="{{ account.url }}" required>
                </div>
                <div class="col-md-2">
                    <img src="{{ account.url }}" class="img-thumbnail" alt="">
                </div>

                <br>

                <h2 class="card-title">Application Information</h2>

                <div class="col-md-3">
                    <label for="applicationtype" class="form-label">Application Type</label>
                    <select id="applicationtype" name="applicationtype" class="form-select" required>
                        <option selected>{{ account.apptype }}</option>
                        <option value="New">New Member</option>
                        <option value="Renew">Membership Renewal</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="advocacy" class="form-label">Choose your Main Advocacy!</label>
                    <select id="advocacy" name="advocacy" class="form-select" required>
                        <option selected>{{ account.campus }}</option>
                        <option selected></option>
                        <option value="UYouth">One United Youth Advocate</option>
                        <option value="EnviAm">Environmental and Animal Welfare Advocate</option>
                        <option value="Info">Media and Information Literacy Advocate</option>
                        <option value="MH">Mental Health Advocate</option>
                        <option value="Eduk">Education for All Advocate</option>
                        <option value="ChildOld">Children and Elderly Advocate</option>
                        <option value="MusicArts">The Music and the Arts Advocate</option>
                        <option value="GenHealth">General and Public Health Advocate</option>
                        <option value="STEM"> Science, Technology, Engineering, and Mathematics Advocate</option>
                        <option value="ABM"> Accountancy, Business, and Management Advocate</option>
                        <option value="HUMSS"> Humanities and Social Science Advocate</option>
                        <option value="Sports"> Sports Advocate</option>
                    </select>
                </div>
                <div class="col-md-1">

                        <button id="action" name="action" type="submit" class="btn btn-primary">Save</button>
                    </div>

                    <div class="col-md-1">
                        <a class="btn btn-danger" href="{{ url_for('application') }}">Cancel</a>
                    </div>
            </form>
        </div>
    </div>
</div>


<br>



{% endblock %}