<!--Welcome to our Homepage-->

{% extends 'base.html' %}

{% block contents%}

<?php echo "Hello World" ?>
<!-- Page Title -->
<div class="container">
    <h1 style="color:Blue"> Beyond Velocity PH </h1>
</div>
<!-- An announcement from Beyond Velocity Org -->
<div class="container-sm">
    <div class="card">
        <h2 class="card-header" style="color:Red" id="about">Announcement</h2>
        <div class="card-body">
            <p> Good day!</p>
<p>This announcement is to notify everyone who registered in our first mock examination for 2021 college admission that we reschedule our Mock exam on July 3, 2021!
This is to give time for the student to be more prepared for our test. A further announcement can be seen in our group!
Thank you and please stay safe always!</p>
<p>Not registered for our College Admission Preparation and Review yet? Please join our group now: https://web.facebook.com/groups/beyondvelocity21
    Password: BVPH21 </p>
    <p>This is <b>Tatak BV!</b> – and we go beyond change!</p>
        </div>
    </div>
</div>
<!-- Instruction on How to Register -->
<div class="container-sm">
    <div class="card">
        <h2 class="card-header" style="color:Green" id="about">How to Register?</h2>
        <div class="card-body">
            <p> Just follow this simple step!</p>
            <li>1. Register an account! </li>
            <li>2.After registration, you will be direct to homepage. </li>
            <li>3.Login your account! </li>
            <li>4.After login, you will direct to homepage! JUST CLICK ONLINE APPLICATION FORM! </li>
            <li>5. Answer the form completely the submit. You may edit or delete your application. </li>
    <br>This is <b>Tatak BV!</b> – and we go beyond change!</br>
        </div>
    </div>
</div>

{% endblock %}