<!--Login Page-->

{% extends 'base.html' %}

{% block contents %}

<!-- Page Title -->
<div class="container">
<h1 style="color:Black">Login </h1>
</div>

<!--  Email and Password Section -->
<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('signin') }}" method="POST">
                  <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" aria-describedby="emailHelp" required>
                      <label for="email" class="form-label">Email Address</label>
                      <div id="emailHelp" class="form-text">Your Email Address must always be open for communication.</div>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="12345" aria-describedby="passwordHelp" required>
                      <label for="password" class="form-label">Password</label>
                  </div>
                  <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="termsagreement" required>
                      <label class="form-check-label" for="termsagreement"> I am a verified Beyond Velocity member!</label>
                  </div>
                  <button type="submit" class="btn btn-success">LOG IN</button>
            </form>
            </div>
    </div>
</div>

<br>
{% endblock %}