<!--Since our code from CSS was not used, tiis tiis na lang sa nav.html -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: Orange">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="/static/image/bv.jpg" alt="" width="50" height="50" class="d-inline-block-align-top">
      Beyond Velocity PH
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for ('task') }}">Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('application')}}">Online Application Form</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for ('account_register') }}">Register</a></li>
            <li><a class="dropdown-item" href="{{ url_for ('login') }}">Login</a></li>
            <li><a class="dropdown-item" href="{{  url_for ('logout') }}">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>